<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converse Token</title>
    <meta charset="UTF-8">
    <link rel = "icon" href="assets/logo.png" type = "image/x-icon"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="assets/index.css">
    <link rel="stylesheet" href="assets/mobile.css">
    <!-- <link rel="stylesheet" href="assets/style.css"> -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <img id="bgm" src="assets/bgm.png" alt="">
    <img id="bg" src="assets/bg.png" alt="">

    <div class="topbar">
        <a href="index.html" id="tb">
            <img src="assets/logo.png" alt="">
            <img id="tb-name" src="assets/name.png" alt="">
        </a>
        
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>

        <a id="cw-tp" href="">Connect Wallet</a>
    </div>

    <div class="popup" id="popup">
        <a href="https://twitter.com/">Twitter</a>
        
        <a href="https://t.me/">Telegram</a>
        <a href="https://medium.com/">Medium</a>
        <a href="https://www.reddit.com/u/">Reddit</a>
        <img src="assets/logo.png"/>
    </div>

    <div class="slideshow-container">

        <div class="mySlides fade">
          <!-- <div class="numbertext">1 / 3</div> -->
          <img src="assets/1.png" style="width:100%">
          
        </div>
        
        <div class="mySlides fade">
          <!-- <div class="numbertext">2 / 3</div> -->
          <img src="assets/2.png" style="width:100%">
         
        </div>
        
        <div class="mySlides fade">
          <!-- <div class="numbertext">3 / 3</div> -->
          <img src="assets/3.png" style="width:100%">
          
        </div>

        <div class="mySlides fade">
            <!-- <div class="numbertext">3 / 3</div> -->
            <img src="assets/4.png" style="width:100%">
            
        </div>

        
        


        <div style="text-align:center">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
        </div>
        
    </div>

    <div class="text">
        <h1>Converse Token</h1>
        <p>NFT Marketplace and Super Buyback Protocol.</p>
        <a href="" id="hm-menu-btn">Join Telegram</a>
        <a href="" id="hm-twt-btn">Twitter</a>
        <p></p>
        <a href="" id="hm-wp-btn">White Paper</a>
        <p></p>
        <a href="" id="hm-buy-btn">Buy ConverseToken</a>
        <p id="hm-ctr-btn">Contract</p>
    </div>

    <div class="about">
        <div class="l-cntn">
            <img src="assets/logo.png" alt="">  
        </div>

        <div class="r-cntn">
            <h1 style='font-family: "Audiowide", sans-serif;'>What is Converse Token</h1>
            <p>Okane is a blockchain-based form of finance that does not rely on central financial intermediaries such as brokerages, exchanges, or banks to offer traditional financial instruments, and instead utilizes smart contracts on blockchains, operateson Binance Smart Chain network with a main focus on digital currency and NFTs (Non-fungibleTokens) a digital file with verified identity and ownership.</p>
        <p>This verification is done using blockchain technology. Simplyput, Blockchain technology is a nun-hackable system based on the mathematics of cryptography.</p>
        </div>
    </div>

    <div class="tokenomic">
        <h1 style='font-family: "Audiowide", sans-serif;'>ConverseToken. Great Features:</h1>
        <div class="vbox">
            <img src="assets/nft.png" alt="">
            <h1>NFT Marketplace</h1>
            <p>NFT Marketplace</p>
        </div>

        <div class="vbox">
            <img src="assets/super.png" alt="">
            <h1>Super Buyback Protocol</h1>
            <p>Super Buyback Protocol</p>
        </div>

        <div class="vbox">
            <img src="assets/safe.png" alt="">
            <h1>Safe & Secure</h1>
            <p>Safe & Secure Contract</p>
        </div>

        <div class="vbox">
            <img src="assets/ga.png" alt="">
            <h1>Giveaway</h1>
            <p>Hold to get giveaway.</p>
        </div>

        <div class="vbox">
            <img src="assets/market.png" alt="">
            <h1>Unlimited Marketing Budget</h1>
            <p>Unlimited Marketing Budget</p>
        </div>

        <div class="vbox">
            <img src="assets/bonus.png" alt="">
            <h1>Early Bonus</h1>
            <p>Get 5% Bonus from Fair Launch.</p>
        </div>

        <h1>Tokenomics</h1>

        <div style="height: 120px;" class="vbox">
            
            <h1>Total Supply</h1>
            <p>10.000.000.000</p>
        </div>

        <div style="height: 120px;" class="vbox">
            
            <h1>Liquidity</h1>
            <p>5.000.000.000</p>
        </div>

        <div style="height: 120px;" class="vbox">
            
            <h1>Burn</h1>
            <p>Get 5% Bonus from Fair Launch.</p>
        </div>

        <div style="height: 120px;" class="vbox">
            
            <h1>Marketing Wallet</h1>
            <p>300.000.000</p>
        </div>
        
    </div>

    <div class="buyon">
        <img src="assets/bsc.png" alt="">
        <img src="assets/pc.png" alt=""> 
        <img src="assets/cg.png" alt="">
        <img src="assets/cm.png" alt="">
        <img src="assets/crt.png" alt="">
    </div>

    
    <div class="rightbox">
        <h1 style="text-align: center;">Roadmap</h1>
        <div class="rb-container">
          <ul class="rb">
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                First
              </div>
              <div class="item-title">
                  <p>Concept Development</p>
                  <p>Creating Team</p>
                  <p>Website Release</p>
                  <p>Whitepaper released</p>
                  <p>Launch on Pancakeswap</p>
                  <p>Marketing influencer</p>
                </div>
    
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                Second
              </div>
              <div class="item-title">
                <p>Beta live NFT Platform</p>
                <p>NFT Rewards Holder</p>
                <p>Listing on CEX Exchange</p>
                <p>Giveaway</p>
                </div>
    
            </li>
    
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                Third
              </div>
              <div class="item-title">
                <p>NFT Platform Release</p>
                <p>Marketing influencer</p>
                <p>Partnership</p>
                <p>More listing on CEX Exchange</p>
                <p>Roadmap v2</p>
                </div>
    
            </li>
    
          </ul>
    
        </div>
    </div>
    

    <div class="htb">
        <div class="w-container">
          <h1 class="heading-3" style="text-align: center;">How To Buy $ConverseToken<br>&zwj;</h1>
        </div>

          <div class="htb-box">
            <div class="column-9 w-col w-col-2"><img src="https://uploads-ssl.webflow.com/6145cb68ce3163bda89ebe44/6145de58408fcf1b549434af_CAKER4.png" loading="lazy" alt=""></div>
            <div class="htb-box-txt">
              <h2 class="heading-5">Download &amp; setup MetaMask or TrustWallet</h2>
              <p>Download MetaMask (a crypto wallet in the form of a browser extension) or TrustWallet (an app for your phone). After that you will have to add the Binance Smart Chain to your network-list. <a href="https://academy.binance.com/en/articles/connecting-metamask-to-binance-smart-chain" style="text-decoration: none; color: white;">(Click here for a step-by-step tutorial).</a></p>
            </div>
          </div>
          <div class="htb-box">
            <div class="column-9 w-col w-col-2"><img src="https://uploads-ssl.webflow.com/6145cb68ce3163bda89ebe44/6145de570b4f492bbed7ec97_CAKER5.png" loading="lazy" alt=""></div>
            <div class="htb-box-txt">
              <h2 class="heading-5">Buy and send BNB to MetaMask</h2>
              <p>Buy BNB on an exchange (i.e. Binance, Kraken, Coinbase etc.). Transfer the tokens to your MetaMask wallet address. BEP-20 addresses start with a "0x".</p>
            </div>
          </div>
          <div class="htb-box">
            <div class="column-9 w-col w-col-2"><img src="https://uploads-ssl.webflow.com/6145cb68ce3163bda89ebe44/6145de57d598aa5c36b53dae_CAKER3.png" loading="lazy" alt=""></div>
            <div class="htb-box-txt">
              <h2 class="heading-5">Head on to PancakeSwap and swap for $ConverseToken</h2>
              <p> to head on over to PancakeSwap or use this address(0x***)to select ConverseToken. Set the slippage tolerance to 15% (sometimes it may be 18%, depending on how much demand there is.)</p>
            </div>
          </div>
          <div class="htb-box">
            <div class="column-9 w-col w-col-2"><img src="https://uploads-ssl.webflow.com/6145cb68ce3163bda89ebe44/6145e7f1f4830447dc12e491_%E9%9D%A2%E6%80%A7%E9%BA%A6%E5%85%8B%E9%A3%8E.svg" loading="lazy" width="117" alt=""></div>
            <div class="htb-box-txt">
              <h2 class="heading-5">View $ConverseToken and HODL</h2>
              <p>Swap BNB for ConverseToken. Now you need to add ConverseToken to your MetaMask or Trust Wallet to view your $ConverseToken. Lastly, HODL!</p>
            </div>
          </div>

    </div>

    <div class="footer">
        <div class="ft">
            <img src="assets/logo.png" alt="">
        </div>

        <div class="ft">
            <!-- <h1 style='font-family: "Audiowide", sans-serif;'>Social</h1> -->
            <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
            <a href="https://t.me/"><i class="fa fa-telegram"></i></a>
            <a href="https://medium.com/"><i class='fab fa-medium'></i></a>
            <a href="https://www.reddit.com/u/"><i class='fab fa-reddit-alien'></i></a>
            <p></p>
            <p></p>
            <!-- <a href="ConverseToken.pdf" download="ConverseToken.pdf" download id="tb-wp">Whitepaper</a> -->
        </div>
    </div>
    
    

    <script type="text/javascript"></script>
	<script src="assets/index.js"></script>  
</body>
</html>